@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 182, 193; /* Light pink */
  --background-rgb: 245, 245, 245; /* Light grey background */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 48, 48, 48; /* Dark grey background */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: "Comic Sans MS", cursive; /* Use a playful font */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
